/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap'); Mukta */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap");

* {
  font-family: "Sora", sans-serif, "Mukta", sans-serif;
}

body {
  padding: 5%;
}

button {
  border-radius: 10%;
  float: right;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 10px;
  overflow: hidden;
}

.card p {
  padding: 6px;
  text-align: center;
}

.card img {
  max-height: 150px;
}
